
       
body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    }
#bg{position: fixed;
    right: 10px;
    top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    margin-left:auto;margin-right:auto;
    
}
#music {position: fixed;
    right: 5px;
    bottom: 100px;
    background-color: #ffffff5e;
    z-index:4;
  }


#baidu {position: absolute;; 
  size: 200%;
    left:30%;
   
   background-color: transparent;
    top: 40px;
    
}
#baidup {
  width: 250px;
  height: 100px;
    position: relative;
    top: 15px;
    left: 0%;}
#baidui {border: #27e4e470;
        background-color: #ffffffc5;
        height: 50px;
width: 500px;}
#baidus {background-color: #ffffff50;
    border: transparent;
    height: 50px;
width:100px;
font: bolder;
font-size: 120%;
}
.sheet {position: absolute;
    clear: both;
    width: 80%;
    height: 200px;
   left: 10%;
   top: 80%;
   background-color: #f8f8f88a;
    border: transparent;
    z-index: 2;
}
.sheet div{
    float: left;
    margin-right: 10%;
}
.sheet div tr td{height: 0px;}
.sheet img{
    width: 110px;
    height: 40px;
}

#line { width: 100%; height: 3px;background-color: violet;
    position: absolute;
    top: -8px;
    margin: auto;
    left: 0;
    right: 0;
    }
#footer {position: absolute;
    background-color: #ffffffc5;
       
        left: 50%;
        right: 50%;
        bottom: -10%;}
